USE [master]
GO
/****** Object:  Database [DB_Game]    Script Date: 28/09/2023 2:44:55 p. m. ******/
CREATE DATABASE [DB_Game]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Game', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\DB_Game.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Game_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\DB_Game_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Game].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Game]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/09/2023 2:44:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 28/09/2023 2:44:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Round]    Script Date: 28/09/2023 2:44:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Round](
	[Id] [uniqueidentifier] NOT NULL,
	[Player1Id] [uniqueidentifier] NOT NULL,
	[Player2Id] [uniqueidentifier] NOT NULL,
	[WinnerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Round] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230927222520_Create_DataModel', N'7.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230928003632_update_table_player', N'7.0.11')
GO
INSERT [dbo].[Player] ([Id], [UserName], [Password], [FullName]) VALUES (N'c890a74b-e287-46b8-a9b1-6b06acd39471', N'User2', N'0fe07003d02508c07e0f50f500b0710e00650650a605a0a007109409007f', N'Usuario 2')
INSERT [dbo].[Player] ([Id], [UserName], [Password], [FullName]) VALUES (N'2b6798e9-acc5-410a-b8bf-a51b359bf49e', N'jaaq99', N'0fe07003d02508c07e0f50f500b0710e00650650a605a0a007109409007f', N'Jhon Agudelo')
GO
INSERT [dbo].[Round] ([Id], [Player1Id], [Player2Id], [WinnerId]) VALUES (N'935c1a28-9ce4-4d67-b41d-16b60355e1cf', N'2b6798e9-acc5-410a-b8bf-a51b359bf49e', N'c890a74b-e287-46b8-a9b1-6b06acd39471', N'2b6798e9-acc5-410a-b8bf-a51b359bf49e')
GO
ALTER TABLE [dbo].[Player] ADD  DEFAULT (N'') FOR [FullName]
GO
USE [master]
GO
